body {
    background-color: #F0ECE3;
    margin: 0;
}

.image-container {
    font-family: "marker felt", "sans-serif";
    background-image: url("another\ pie.png");
    background-size: 200px;
    background-color: #a1e9df;
    height: 200px;
    /* margin: 0; */
}

.company-title {
  color: white;
  /* background-color: black; */
  font-size: 25px;
  margin: 0 auto;
  /* padding-top: 1px; */
  width: 25%;
  height: 192px;
  text-align: center;
  border: 4px solid white;
  /* mix-blend-mode: screen; */
  -webkit-text-stroke: 1px #898f8e;
}

#content {
    font-family: "Andale Mono", "Courier New", "Monospace";
    margin: 30px;
}

.input-fields{
    float: left;
}

input {
    padding: 15px 30px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Andale Mono", "Courier New", "Monospace";
    border-radius: 8px;
    border-color: #CCCCCC;
    box-shadow: 5px 5px #a1e9df;
    background-color: white;
}

input::placeholder {
    font-family: "Andale Mono", "Courier New", "Monospace";
}

input:active {
    background-color: #FFDAB9;
}

.button-submit {
    margin-top: 20px;
    padding: 15px 30px;
    width: 310px;
    height: 53px;
    font-family: "Andale Mono", "Courier New", "Monospace";
    font-size: 20px;
    font-weight: bold;
    background-color: #a1e9df;
    border-radius: 8px;
    border-color: #6E7776;
}

.button-submit:hover {
    transform: scale(1.15);
}

.button-submit:active {
    background-color: #FFDAB9;
}

#staff-table {
    float: right;
}

#current-staff {
    border-collapse: collapse;
    margin: 20px;
}

#current-staff th, #current-staff tr {
    border: 1px solid black;
}

#current-staff th {
    padding: 5px 20px;
    text-align: center;
    background-color: #a1e9df;
    color: white;
}

#current-staff tr:nth-child(odd) {
    background-color: white;
    text-align: center;
}

#current-staff tr:nth-child(even) {
    background-color: darkgrey;
    text-align: center;
}

#current-staff tr:hover {
    background-color: #FFDAB9;
}

#current-staff td {
    padding: 8px;
}

.button-delete {
    font-family: "Andale Mono", "Courier New", "Monospace";
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.button-delete:hover {
    background-color: #FFD700;
}

#current-staff caption {
    padding: 10px;
}

.under-budget {
    background-color: none;
}

.over-budget {
    background-color: #FF4500;
}

#payroll {
    float: right;
    margin-right: 20%;
    border: 2px solid #6E7776;
    padding: 8px 16px;
}

#total-cost {
    padding: 5px 10px;
}